
  <body>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <div class="navbar">
      <a class="active" href="#" ><i class="fa fa-fw fa-home"></i>Mentor On Demand</a> 
      <a routerLink= "/view"style="margin-left:40px" >View </a>
      <a routerLink= "/lreg" style="margin-left:50px" >Register </a> 
      <a href="#"style="margin-left:900px"><i class=""></i>Logout</a>  
    </div>  -->
    <app-header></app-header>
    <div>
    <h1 align="center" style = "margin-top:50px;font-size:x-large"> Search For Course </h1>
    </div>
    <div>
    <h2 style="margin-left:100px;margin-top:70px;font-size:x-large">Enroll Courses </h2>
    <table class = "box" border="1px" >
        <tr>
        <th>Course Name</th>
        <th>Course Desc</th>
        <th>Mentor Name</th>
        <th>Add Course</th>  
      </tr>
      <tr>
        <td>
          
           <select style="width:50%" [(ngModel)]="coursename" (ngModelChange)= "choose()"  >        
                <option *ngFor= "let course of courseNamesFromCourseTable" [value]="course.coursename" >{{course.coursename}}</option>
              
           </select>
          <h5 style="font-size:smaller">selected course:<b>{{coursename}}</b></h5>
           </td>
          
    <td>Course Description</td>
    
     
    
     <td >
           
      <select style="width:40%;font-size:medium" [(ngModel)]="mentorname" (ngModelChange)= "choose()" required="required">        
         
        <option *ngFor = 'let course of filteredCourse'[value]= "course.username">{{course.username}}</option>
              
           </select>
           <div >
              <h5 style="font-size:smaller" *ngIf="this.len!=0 else noMentorFound">Mentor name : <b>{{mentorname}}</b></h5>
              <ng-template #noMentorFound>
                <h5 style="font-size:smaller;color:red">No mentor found for {{coursename}}</h5>
              </ng-template>
           </div>
        
           </td>
    
    <td>
        <button class="button1" (click)="chooseCourse()" >Add Course</button>
    </td>
        
      </tr>
      <div>
    <button  class="button" style="margin-top:60px"><a routerLink='/view'>Back</a></button>
    </div>   
    
     
    
    </table></div>
               
    </body>
    